.catagories{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.header-section{
    text-align: center;
    color: gray;
   
}

.header-section p{
    text-align: center;
    margin: 0px auto;

}
.background img{
    width: 100%;
}

.content{
    display: flex;
   justify-content: center;
   align-items: center;
}