.catagories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.header-section{
    padding: 50px;
    text-align: center;
    color: gray;
   
}
.header-section{
    width: 50%;
}
.header-section p{
    text-align: center;
    margin: 0px auto;

}
.background{
    width: 50%;
}
.background img{
    width: 100%;
}
.header-area{
    width: 100%;
    display: flex;
    flex-direction: row;
}