.header a{
    text-decoration: none;
    padding: 2px 5px;
    margin-right: 15px;
    color: greenyellow;
    
}
.header a:hover{
    background-color: lightblue;
}
.header{
    background-color: black;
    height: 80px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    padding-left: 100px;
    
}
.hea{
    color: red;
}
.active{
    background-color: red;
}
.logo img{
    width: 150px;
}